.appt {
  height: 80%;
  border-radius: 25px;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  width: 95%;
  .caroussel {
    position: relative;
    .slider {
      width: 100%;
      height: 415px;
      border-radius: 25px;
      margin-top: 40px;
      object-fit: cover;
    }
    .arrowLeft {
      position: absolute;
      top: 220px;
      left: 0px;
      height: 78px;
      width: 46px;
      padding-left: 20px;
      cursor: pointer;
    }
    .arrowRight {
      position: absolute;
      top: 220px;
      right: 0px;
      height: 78px;
      width: 46px;
      padding-right: 20px;
      cursor: pointer;
    }
    .indic {
      position: absolute;
      bottom: 7%;
      right: 50%;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      color: white;
    }
  }
  .appt-container-up-down {
    display: flex;
    flex-direction: column;
    p {
      color: #ff6060;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 142.6%;
      margin: 0;
    }
    .appt-content-up {
      display: flex;
      justify-content: space-between;
      
      h2 {
        max-width: 700px;
        color: #ff6060;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 500;
        padding: 0;
        
      }
      h3 {
        color: #000000;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-weight: 500;
        
        top: 520px;
      }
      .container-tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        bottom: 150px;
        margin-right: 741px;
        .tags {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          height: fit-content;
          background: #ff6060;
          color: white;
          border-radius: 10px;
          text-align: center;
          padding: 5px 30px;
          font-size: 14px;
        }
      }
      .hostRating {
        display: flex;
        gap: 20px;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-end;
        margin-top: 40px;
        .host {
          display: flex;

          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
          }
        }
        h3 {
          color: #ff6060;
          text-align: right;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 500;
          line-height: 142.6%;
          position: absolute;
          right: 80px;
          top: 500px
        }
      }
      .rating {
        display: flex;
        gap: 15px;
        .starPinks .starGreys {  
          width: 24.75px;
          height: 24px;
        }
      }
    }

    .appt-content-down {
      display: flex;
      gap: 70px;
      margin-top: 65px;
      li {
        list-style: none;
        color: #000000;
      }
    }
  }
}