.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  padding-top: 15px;
  padding-bottom: 20px;
  max-width: 1240px;
  padding-top: 40px;
  padding-bottom: 50px;

  &__logo {
    width: 17%;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      a {
        text-decoration: none;
        color: #000;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        padding-left: 40px;

        &.underline {
          text-decoration: underline;
        }
      }

      li {
        list-style: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 150%;
      }
    }
  }
}
