.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  padding-top: 15px;
  padding-bottom: 20px;
  max-width: 1240px;
  padding-top: 40px;
  padding-bottom: 50px;
  @media (max-width: 375px) {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  &__logo {
    width: 17%;
    @media (max-width: 375px) {
      width: 50%;
      padding-left: 10px;
    }
  }

  nav {
    padding-top: 15px;
    
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      
      a {
        text-decoration: none;
        color: #000;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        padding-left: 40px;
        @media screen and (max-width: 375px) {
          font-size: 12px;
        }
        &.underline {
          text-decoration: underline;
          @media screen and (max-width: 375px) {
            font-size: 12px;
          }
        }

        li {
          list-style: none;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 150%;
          @media screen and (max-width: 375px) {
            font-size: 12px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
