.thumb {
  width: 100%;
  height: 340px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  h2 {
    position: absolute;
    height: 20%;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.257);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
}
